<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>VISA Londrina</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>

<div class="background"></div>

<div class="container">
  <div class="card">

    <p class="subtitle">SISTEMA DE RECOLHIMENTO DE DOCUMENTOS</p>
    <h1>VIGILÂNCIA SANITÁRIA</h1>
    <span class="cidade">VISA LONDRINA</span>

    <form>
      <div class="input-group">
        <input type="text" required>
        <label>Usuário</label>
      </div>

      <div class="input-group">
        <input type="password" required>
        <label>Senha</label>
      </div>

      <button type="submit">ENTRAR</button>
    </form>

  </div>
</div>

</body>
</html>